
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">E-School</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cubes" aria-hidden="true"></i>Divition
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/div">View All</a></li>
          <li><a href="#">Add</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="# "><i class="fa fa-users" aria-hidden="true"></i>Teacher
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="/teacher">View all</a></li>
          <li><a href="/teacher/add">Add Teacher</a></li>
          </ul>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-users" aria-hidden="true"></i>Student
         <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/student">View Students</a></li>
            <li><a href="/student/add">Add Student</a></li>
          </ul>
      
    </ul>
  </div>
</nav>